html,
body {
  padding: 0;
  margin: 0;
  font-family: Hannotate SC;
}

a {
  color: inherit;
  text-decoration: none;
}

blockquote,
q {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

* {
  box-sizing: border-box;
}

.ant-tabs-tab-btn {
  font-size: 22px;
}

.ant-list-item-meta-title {
  font-size: 16px;
  font-weight: bold;
}
